/* styles */

body {
	min-width: 480px;
	background: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	color: #333;
	cursor: default;
    scroll-behavior: smooth;
}

.main-wrapper {
	margin: 5px auto;
	width: 480px;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: inherit;
	text-decoration: none;
}

#toTop {
	width: 44px;
	height: 44px;
	background: url(../images/arrow-top1.png) no-repeat center center;
	position: fixed;
	bottom: 58px;
	right: 10px;
	cursor: pointer;
	display: none;
	opacity: 1;
	-moz-opacity: 1;
	z-index: 99;
}

header {
	height: 80px;
	width: 100%;
}

.logo {
	float: left;
	display: block;
	width: 70px;
}

.content {
	background: rgb(97,233,113); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(97,233,113,1) 1%, rgba(210,232,102,1) 36%, rgba(239,167,126,1) 65%, rgba(249,199,177,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(97,233,113,1) 1%,rgba(210,232,102,1) 36%,rgba(239,167,126,1) 65%,rgba(249,199,177,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(97,233,113,1) 1%,rgba(210,232,102,1) 36%,rgba(239,167,126,1) 65%,rgba(249,199,177,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61e971', endColorstr='#f9c7b1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding: 10px 0 100px;
	min-height: calc(100vh - 80px);
    transition:all 1s ease;
}

.chat {
	padding: 0 1%;
}

.message {
	margin: 20px 0;
	height: auto;
	width: 90%;
}

.message *{
	min-width: 42px;
	width: auto;
	height: auto;
	min-height: 1.35em;
	display: block;
	max-width: 95%;
	overflow: hidden;
	padding: 15px 20px;
}

.message-bot {
	box-shadow: 0 1px 28px 0 rgba(90,60,122,.22);
	border-radius: 21px;
	background-color: #fff;
	color: rgb(17, 11, 89);
	font-size: 16px;
	position: relative;
}

.message-bot:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 12px;
	bottom: -16px;
	border: 12px solid;
	border-color: #fff transparent transparent #fff;
}

.input-menu {
	display: flex;
	justify-content: center;
}

.input-item {
	background-color: rgb(56, 100, 56);
	color: rgb(255, 255, 255);
	border: 2px solid rgb(6, 50, 6);
	letter-spacing: -.5px;
	margin-right: 6px;
	margin-bottom: 6px;
	cursor: pointer;
	transition: background-color .25s,border-color .25s,color .75s;
	padding: 20px 25px;
	border-radius: 3px;
	animation-name: slideUp;
	-webkit-animation-name: slideUp;

	animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes slideUp {
	0% {
		transform: translateY(50%);
	}
	25% {
		transform: translateY(30%);
	}
	50%{
		transform: translateY(20%);
	}
	75%{
		transform: translateY(10%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideUp {
	0% {
		transform: translateY(50%);
	}
	25% {
		transform: translateY(30%);
	}
	50%{
		transform: translateY(20%);
	}
	75%{
		transform: translateY(10%);
	}
	100% {
		transform: translateY(0%);
	}
}

.customer-message p {
	float: right;
	background-color: rgb(206, 216, 168);
	border-radius: 24px;
}
.customer-message {
	width: 100%;
}

.customer-message:after {
	content: "";
	display: table;
	clear: both;
}